.filters {

    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    white-space: nowrap;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filters button {
    flex: 0 0 auto;
    font-size: .8rem;
    padding: .5rem .8rem;
    background-color: #737373;
    color: white;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}

.filters button.active {
    background-color: #E50914;
}